# Movie Recommendation Project

In [1]:
#!mkdir -p ~/aiffel/recommendata_iu/data/ml-1m
#!ln -s ~/data/ml-1m/* ~/aiffel/recommendata_iu/data/ml-1m

## Data Load

In [41]:
import numpy as np
import scipy
import implicit

print(np.__version__)
print(scipy.__version__)
print(implicit.__version__)

1.21.4
1.7.1
0.4.8

In [42]:
import os
import pandas as pd

rating_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/ratings.dat'
ratings_cols = ['user_id', 'movie_id', 'ratings', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::', names=ratings_cols, engine='python', encoding = "ISO-8859-1")
orginal_data_size = len(ratings)
ratings.head()

   user_id  movie_id  ratings  timestamp
0        1      1193        5  978300760
1        1       661        3  978302109
2        1       914        3  978301968
3        1      3408        4  978300275
4        1      2355        5  978824291

In [43]:
# 3점 미만 데이터는 선호하지 않는다고 가정, 3점 이상만 
ratings = ratings[ratings['ratings']>=3]
filtered_data_size = len(ratings)

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

In [44]:
# 별점을 시청횟수로 가정, ratings 컬럼의 이름을 counts로 변경
ratings.rename(columns={'ratings':'counts'}, inplace=True)

In [45]:
ratings['counts']

0          5
1          3
2          3
3          4
4          5
          ..
1000203    3
1000205    5
1000206    5
1000207    4
1000208    4
Name: counts, Length: 836478, dtype: int64

In [46]:
# 영화 제목을 보기 위해 메타 데이터를 읽어옵니다.
movie_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/movies.dat'
cols = ['movie_id', 'title', 'genre'] 
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python', encoding='ISO-8859-1')
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

### Setting for Model Validation

In [47]:
# 좋아하는 영화찾기
search_titles = ['Titanic' ,'Meet Joe Black' ,'Chungking Express', 'Notting Hill', 'While You Were Sleeping']
pattern = '|'.join(search_titles)  # 검색할 영화 제목들을 하나의 문자열로 결합

filtered_movies = movies[movies['title'].str.contains(pattern, case=False)]

print(filtered_movies)

      movie_id                                   title                  genre
121        123                Chungking Express (1994)  Drama|Mystery|Romance
335        339          While You Were Sleeping (1995)         Comedy|Romance
1672      1721                          Titanic (1997)          Drama|Romance
2088      2157  Chambermaid on the Titanic, The (1998)                Romance
2271      2340                   Meet Joe Black (1998)                Romance
2602      2671                     Notting Hill (1999)         Comedy|Romance
3334      3403                Raise the Titanic (1980)         Drama|Thriller
3335      3404                          Titanic (1953)           Action|Drama

In [48]:
my_favorite = [123, 1721, 2340, 2671, 339]

my_playlist = pd.DataFrame({'user_id': ['dy']*5, 'movie_id': my_favorite, 'counts':[5]*5})

if not ratings.isin({'user_id':['dy']})['user_id'].any():  # user_id에 'zimin'이라는 데이터가 없다면
    ratings = pd.concat([ratings, my_playlist])                            # 위에 임의로 만든 my_playlist 데이터 추가

ratings.tail(10)

        user_id  movie_id  counts    timestamp
1000203    6040      1090       3  956715518.0
1000205    6040      1094       5  956704887.0
1000206    6040       562       5  956704746.0
1000207    6040      1096       4  956715648.0
1000208    6040      1097       4  956715569.0
0            dy       123       5          NaN
1            dy      1721       5          NaN
2            dy      2340       5          NaN
3            dy      2671       5          NaN
4            dy       339       5          NaN

In [49]:
# ratings에 movies의 title 가져오기
ratings = pd.merge(ratings, movies[['movie_id', 'title']], on='movie_id', how='left')

ratings.head()

,user_id,movie_id,counts,timestamp,title
0,1,1193,5,978300760.0,One Flew Over the Cuckoo's Nest (1975)
1,1,661,3,978302109.0,James and the Giant Peach (1996)
2,1,914,3,978301968.0,My Fair Lady (1964)
3,1,3408,4,978300275.0,Erin Brockovich (2000)
4,1,2355,5,978824291.0,"Bug's Life, A (1998)"

In [51]:
ratings = ratings[['user_id','counts','title']]

## EDA

In [52]:
# 유저 수
ratings['user_id'].nunique()

6040

In [53]:
# 아티스트 수
ratings['title'].nunique()

3628

In [54]:
# 인기 많은 아티스트
title_count = ratings.groupby('title')['user_id'].count()
title_count.sort_values(ascending=False).head(30)

title
American Beauty (1999)                                   3211
Star Wars: Episode IV - A New Hope (1977)                2910
Star Wars: Episode V - The Empire Strikes Back (1980)    2885
Star Wars: Episode VI - Return of the Jedi (1983)        2716
Saving Private Ryan (1998)                               2561
Terminator 2: Judgment Day (1991)                        2509
Silence of the Lambs, The (1991)                         2498
Raiders of the Lost Ark (1981)                           2473
Back to the Future (1985)                                2460
Matrix, The (1999)                                       2434
Jurassic Park (1993)                                     2413
Sixth Sense, The (1999)                                  2385
Fargo (1996)                                             2371
Braveheart (1995)                                        2314
Men in Black (1997)                                      2297
Schindler's List (1993)                                  2257
Princess Bride, The (1987)                               2252
Shakespeare in Love (1998)                               2213
L.A. Confidential (1997)                                 2210
Shawshank Redemption, The (1994)                         2194
Godfather, The (1972)                                    2167
Groundhog Day (1993)                                     2121
E.T. the Extra-Terrestrial (1982)                        2102
Being John Malkovich (1999)                              2066
Ghostbusters (1984)                                      2051
Pulp Fiction (1994)                                      2030
Forrest Gump (1994)                                      2022
Terminator, The (1984)                                   2019
Toy Story (1995)                                         2000
Fugitive, The (1993)                                     1941
Name: user_id, dtype: int64

In [55]:
# 유저 별 영화 수 describe
user_count = ratings.groupby('user_id')['title'].count()
user_count.describe()

count    6040.000000
mean      138.490563
std       156.238108
min         1.000000
25%        38.000000
50%        81.000000
75%       177.000000
max      1968.000000
Name: title, dtype: float64

In [56]:
# # 유저 별 영화 시청 수 중앙값에 대한 describe
user_median = ratings.groupby('user_id')['counts'].median()
user_median.describe()

count    6040.000000
mean        4.056126
std         0.432278
min         3.000000
25%         4.000000
50%         4.000000
75%         4.000000
max         5.000000
Name: counts, dtype: float64

## Data Processing

In [57]:
# 고유한 유저, 아티스트를 찾아내는 코드
user_unique = ratings['user_id'].unique()
movie_unique = ratings['title'].unique()

# 유저, 아티스트 indexing
user_to_idx = {v:k for k,v in enumerate(user_unique)}
movie_to_idx = {v:k for k,v in enumerate(movie_unique)}

In [59]:
# 인덱싱 확인
print(user_to_idx['dy'])    
print(movie_to_idx['Titanic (1997)'])

6039
27

In [60]:
# indexing을 통해 데이터 컬럼 내 값을 바꾸는 코드
# dictionary 자료형의 get 함수는 https://wikidocs.net/16 을 참고하세요.

# user_to_idx.get을 통해 user_id 컬럼의 모든 값을 인덱싱한 Series를 구해 봅시다. 
# 혹시 정상적으로 인덱싱되지 않은 row가 있다면 인덱스가 NaN이 될 테니 dropna()로 제거합니다. 
temp_user_data = ratings['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(ratings):   # 모든 row가 정상적으로 인덱싱되었다면
    print('user_id column indexing OK!!')
    ratings['user_id'] = temp_user_data   # data['user_id']을 인덱싱된 Series로 교체해 줍니다. 
else:
    print('user_id column indexing Fail!!')

# artist_to_idx을 통해 artist 컬럼도 동일한 방식으로 인덱싱해 줍니다. 
temp_title_data = ratings['title'].map(movie_to_idx.get).dropna()
if len(temp_title_data) == len(ratings):
    print('title column indexing OK!!')
    ratings['title'] = temp_title_data
else:
    print('title column indexing Fail!!')

user_id column indexing OK!!
title column indexing OK!!

/tmp/ipykernel_147/790864692.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ratings['user_id'] = temp_user_data   # data['user_id']을 인덱싱된 Series로 교체해 줍니다.
/tmp/ipykernel_147/790864692.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ratings['title'] = temp_title_data

In [61]:
# CSR Matrix
from scipy.sparse import csr_matrix

num_user = ratings['user_id'].nunique()
num_movie = ratings['title'].nunique()

csr_data = csr_matrix((ratings.counts, (ratings.user_id, ratings.title)), shape= (num_user, num_movie))
csr_data

<6040x3628 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Row format>

## Matrix Factorization

In [62]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit 라이브러리에서 권장하고 있는 부분입니다. 학습 내용과는 무관합니다.
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

In [109]:
# Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=500, regularization=0.01, use_gpu=False, iterations=50, dtype=np.float32)

In [110]:
# als 모델은 input으로 (item X user 꼴의 matrix를 받기 때문에 Transpose해줍니다.)
csr_data_transpose = csr_data.T
csr_data_transpose

<3628x6040 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Column format>

In [111]:
# 모델 훈련
als_model.fit(csr_data_transpose)

  0%|          | 0/50 [00:00<?, ?it/s]

In [112]:
dy, chungking_Express = user_to_idx['dy'], movie_to_idx['Chungking Express (1994)']
dy_vector, chungking_Express_vector = als_model.user_factors[dy], als_model.item_factors[chungking_Express]

In [113]:
dy_vector

array([ 4.93188389e-02, -4.79438871e-01, -4.02681917e-01, -1.77008465e-01,
       -2.18683824e-01,  8.11887067e-03, -1.27377674e-01,  8.04519951e-02,
        4.76505786e-01,  3.82747725e-02,  1.48326546e-01, -7.92770181e-03,
       -1.43702105e-01,  7.71987140e-02, -6.04031868e-02,  2.69848943e-01,
       -2.41968594e-03, -3.40500981e-01,  4.78845090e-02,  3.89274687e-01,
       -4.62642163e-02,  2.27210790e-01, -1.71771809e-01,  2.25156605e-01,
       -2.65089065e-01,  7.38661066e-02,  2.61657953e-01,  2.10383371e-01,
       -8.48378241e-02, -2.67342925e-01,  4.01794612e-02, -1.41866654e-01,
        4.16932404e-01,  3.64845842e-01, -9.37797409e-03,  7.21494332e-02,
        1.04372613e-01, -4.16950762e-01,  2.11399689e-01, -9.07784700e-02,
        1.02417901e-01, -2.49361917e-01,  3.98586601e-01, -2.58999884e-01,
        9.59573239e-02, -2.04677105e-01, -4.07164805e-02,  1.78050697e-01,
       -1.63085431e-01,  5.09978607e-02,  5.63800596e-02, -2.45965168e-01,
       -9.50916409e-02, -8.27266648e-02, -7.03032361e-03, -2.12559119e-01,
        6.56052679e-02,  4.10027593e-01, -4.99503836e-02, -1.24800101e-01,
       -3.21209520e-01,  9.44058523e-02,  2.36498505e-01, -5.85833602e-02,
       -6.05887845e-02,  4.77891862e-01, -5.91025166e-02,  3.66766274e-01,
        2.17717260e-01, -1.07336536e-01, -3.27216625e-01, -1.77976891e-01,
        1.39470518e-01,  1.10631071e-01,  2.95990258e-01, -5.50176613e-02,
       -2.03684658e-01, -5.76245785e-01,  7.60070384e-02,  1.55697614e-01,
       -2.47292161e-01,  6.25067279e-02,  1.66670173e-01,  2.00250059e-01,
       -2.07569613e-03, -2.42264941e-01, -7.85899311e-02,  1.20052084e-01,
       -1.31458193e-01, -1.35776177e-01,  1.77442551e-01,  6.31737560e-02,
       -1.18455142e-02,  4.14835140e-02,  3.74039173e-01, -1.06378153e-01,
       -1.08319022e-04,  6.94523007e-02, -1.50834337e-01, -1.41864941e-01,
       -2.33945429e-01, -3.27900231e-01, -2.30052158e-01,  1.17279306e-01,
        1.43933162e-01, -2.40436390e-01, -7.73666129e-02,  6.43933937e-02,
        9.58228037e-02,  3.32972407e-01, -1.05255187e-01,  3.30035448e-01,
        1.83067188e-01,  2.18338639e-01, -3.61039609e-01, -1.97731093e-01,
        1.66960657e-01, -2.68961936e-01, -2.00298778e-03,  1.22943334e-01,
        8.91860127e-02, -4.14124936e-01,  2.28189453e-01, -2.82453578e-02,
       -2.48615131e-01,  1.30156115e-01, -2.02243671e-01,  1.34940296e-01,
       -2.49745712e-01,  2.34561041e-02,  1.35880485e-01, -2.54957169e-01,
        1.66012436e-01, -2.00861762e-03,  2.25382447e-02,  1.62920412e-02,
       -1.99199971e-02, -3.02232385e-01,  1.46788120e-01, -7.32522979e-02,
       -3.17727565e-03, -3.29786777e-01, -2.05315873e-02,  2.60166079e-01,
       -2.75838405e-01, -1.24433644e-01, -9.45420712e-02,  4.42991942e-01,
        2.33293343e-02, -2.05466419e-01,  1.00806564e-01,  2.59392988e-02,
        1.27693355e-01, -6.79495931e-02, -6.18703105e-02,  8.46574679e-02,
       -3.54037881e-01, -2.39092559e-01, -3.06460857e-01,  9.62002352e-02,
       -1.00737430e-01,  1.88917965e-01, -7.78513104e-02,  2.60287579e-02,
        5.26270606e-02,  2.77502507e-01, -2.30813205e-01, -1.30392998e-01,
        2.37753674e-01,  2.51766443e-01,  6.03842400e-02, -4.63656127e-01,
        6.15271889e-02,  3.58220339e-01,  5.62600642e-02, -1.14099625e-02,
       -8.81604180e-02, -1.49618149e-01,  1.06396325e-01,  2.66683072e-01,
       -1.44687742e-01, -1.52451590e-01, -1.34290770e-01, -3.13325785e-02,
        4.33099151e-01, -3.62958014e-02, -1.43568888e-01, -7.29617998e-02,
        2.88183153e-01, -1.01755552e-01, -3.38235982e-02,  1.72592685e-01,
        8.78360644e-02, -2.15759665e-01,  1.38876826e-01, -1.21068209e-01,
       -2.36192152e-01, -3.01458798e-02,  1.75855726e-01,  8.61482099e-02,
        1.61093161e-01,  7.34547153e-02, -2.78855860e-02,  2.04174370e-01,
       -7.91485161e-02, -7.63175339e-02,  2.47429177e-01, -4.21669669e-02,
        7.40388855e-02,  2.65928417e-01, -1.73527762e-01, -2.21245810e-01,
       -3.67799103e-01,  1.13044485e-01, -1.62018225e-01, -3.57809216e-01,
       -2.20289707e-01,  2.63871960e-02, -2.44248524e-01, -1.78567976e-01,
        3.67067643e-02,  2.78234839e-01, -1.93917155e-01,  1.31683871e-01,
        1.49105059e-03,  1.94785088e-01,  3.90857279e-01,  5.57630584e-02,
        6.61567375e-02,  1.14166766e-01, -7.16000870e-02,  1.57272801e-01,
       -1.52621016e-01, -1.55849800e-01,  2.26868600e-01, -7.87227377e-02,
        3.03275343e-02, -3.43760736e-02,  1.38134629e-01, -2.11471632e-01,
        5.18072784e-01, -7.70246685e-02,  1.25675082e-01, -1.18562341e-01,
        1.06165953e-01, -9.31555554e-02, -5.66760749e-02, -2.23561287e-01,
        5.82989991e-01,  1.44341215e-01, -4.88541454e-01, -6.32827953e-02,
       -1.92668632e-01,  1.57388359e-01, -1.66193709e-01, -1.74744204e-01,
        3.91216964e-01,  1.52598703e-02,  4.78139400e-01,  2.98874229e-01,
        1.95218042e-01,  2.22823218e-01,  1.15970008e-01,  9.99201089e-02,
        2.56432056e-01, -1.50947049e-02, -4.15003508e-01, -1.42083734e-01,
        2.29497954e-01, -7.18021989e-02, -8.80596489e-02,  2.27663174e-01,
       -1.42498359e-01, -3.40745226e-02,  1.53370127e-01, -2.37574115e-01,
        1.54235318e-01,  3.93280685e-01,  2.15293169e-01, -5.69137514e-01,
        2.51550436e-01,  4.33121994e-02,  3.33095968e-01,  2.43980199e-01,
       -2.78598905e-01,  2.88603842e-01, -9.05738920e-02, -1.04529308e-02,
        5.56530878e-02,  4.51712869e-02, -9.83714908e-02,  8.78468230e-02,
       -4.41671401e-01, -7.27451965e-02,  3.76669824e-01,  6.28299862e-02,
       -1.47570610e-01, -1.73593566e-01,  5.17304659e-01, -3.88377793e-02,
        7.94791896e-03, -1.00399874e-01, -3.56253088e-02, -5.65405972e-02,
        4.47877012e-02, -6.50479272e-02,  2.15660892e-02,  4.31333095e-01,
       -4.67458703e-02, -2.04309016e-01, -1.47317022e-01, -5.79522550e-02,
       -4.54131752e-01,  1.03477284e-01,  3.73294530e-03, -6.42554462e-02,
       -2.11586013e-01, -3.13648403e-01, -1.12258166e-01, -8.94538611e-02,
        1.70333862e-01, -4.80266176e-02, -7.42049739e-02,  3.55540991e-01,
        3.48494053e-01, -1.67666689e-01, -8.71517137e-03,  4.91297171e-02,
       -8.15253034e-02,  4.76545319e-02,  3.51727277e-01, -1.61682725e-01,
       -3.44442427e-01, -1.53252125e-01, -1.86785921e-01,  9.27107111e-02,
        2.11134762e-01,  2.05932707e-01,  1.02368541e-01, -3.05715911e-02,
       -1.46036327e-01,  1.71933681e-01,  1.79837957e-01,  3.42176974e-01,
        4.14189994e-01, -7.06787333e-02, -2.66121686e-01,  2.98214436e-01,
        8.45159963e-02,  1.83439329e-01, -1.55706197e-01,  2.71080919e-02,
       -1.92031823e-02,  6.23796172e-02,  4.59593713e-01, -3.37821096e-01,
       -6.09044470e-02,  2.02010885e-01,  1.82294250e-02,  1.17206676e-02,
       -1.85227790e-03, -5.69927037e-01, -2.08811276e-02,  1.09328978e-01,
        1.64739594e-01, -9.45504904e-02, -1.45830587e-01, -5.75838387e-01,
       -3.61014456e-02,  1.72645077e-01, -4.14166033e-01, -2.85228901e-02,
        4.74150687e-01, -4.17540297e-02, -1.97505295e-01, -2.56254137e-01,
       -2.93487132e-01, -9.90532525e-03, -1.45628005e-02, -1.60432130e-01,
       -3.85302782e-01, -5.34724705e-02,  2.56575972e-01,  1.36403948e-01,
        3.14692557e-01, -1.29764065e-01, -6.45769164e-02,  7.07718655e-02,
        6.89758137e-02, -1.96310967e-01,  1.22138314e-01,  5.30094206e-01,
       -5.27563505e-03,  7.37129152e-02, -2.60961186e-02,  1.95545524e-01,
        3.14950496e-02, -2.65363269e-02, -2.88837373e-01,  1.48095861e-02,
       -3.57426912e-01, -1.72732517e-01, -1.96557969e-01,  1.56484395e-01,
        9.24374759e-02, -1.94992423e-01, -9.69361588e-02,  3.54970127e-01,
       -1.74362175e-02,  1.16429299e-01,  1.37549549e-01,  2.35483095e-01,
       -7.31374770e-02, -1.68700457e-01, -4.74889904e-01,  1.42464831e-01,
       -1.36727124e-01, -5.58906142e-03,  6.70428723e-02, -1.48975909e-01,
       -3.80950198e-02, -2.76889473e-01,  1.77279606e-01, -1.11392766e-01,
       -5.69901109e-01, -4.60981876e-02, -1.10715285e-01, -4.44762915e-01,
       -2.99377013e-02, -1.76858470e-01, -1.75221935e-01, -7.33119920e-02,
        9.65810493e-02,  2.10664019e-01, -1.34911045e-01,  2.61223495e-01,
       -3.42461579e-02,  4.52117383e-01, -4.07655627e-01,  2.53333777e-01,
       -3.32148820e-01, -2.73879170e-01,  3.76539767e-01, -3.37222666e-01,
       -5.94255701e-03,  3.86425257e-02,  1.75455600e-01,  8.39453116e-02,
       -6.31927475e-02,  8.08415860e-02,  6.95238709e-02,  2.70417541e-01,
        3.13777179e-01,  1.73458904e-01, -3.09279650e-01, -1.47016170e-02,
       -2.58255546e-04,  7.99113587e-02, -2.07791746e-01, -3.39582972e-02,
        3.03556919e-01,  9.59587321e-02,  1.23583386e-03, -7.98497442e-03,
        3.82344961e-01, -9.19427276e-02,  3.83423734e-03,  1.23937018e-01,
        4.08941042e-03,  8.32568333e-02,  3.97255272e-01, -6.03817068e-02,
        1.09035619e-01, -1.93818152e-01, -5.57528734e-02, -6.54756278e-02,
       -4.51887101e-01,  1.69198196e-02,  1.90424144e-01,  9.79426205e-02,
       -3.62412363e-01,  9.52978507e-02, -4.57976982e-02,  3.37711871e-01,
        7.79494643e-02,  7.62414858e-02, -6.98909760e-02, -8.41885135e-02,
       -2.18672514e-01, -9.59899202e-02, -2.37967551e-01,  2.42543697e-01,
        1.65138319e-01,  1.43700004e-01,  2.90413797e-01, -4.38161492e-02,
        1.64240509e-01,  3.37785900e-01,  2.13740110e-01, -6.42880574e-02],
      dtype=float32)

In [114]:
chungking_Express_vector

array([ 4.20000078e-03, -4.22790414e-03, -1.09434100e-02,  1.30871618e-02,
        4.71250527e-03,  5.38808154e-03,  9.91730299e-03,  8.49854946e-03,
        9.80592426e-03,  2.13902839e-03,  1.41994227e-02,  2.70013930e-03,
       -3.28044896e-03,  9.47448704e-03, -4.70395200e-03,  1.86641067e-02,
        6.44890266e-03, -3.83072183e-03,  8.36644415e-03,  8.54921620e-03,
        1.05281416e-02,  1.66325942e-02, -1.51297706e-03,  8.91278591e-03,
        1.01194987e-02,  3.65036237e-03,  1.28280348e-03,  3.23747471e-03,
       -8.23793560e-03,  9.37379990e-03,  4.03052988e-03,  5.53669920e-03,
        1.57793127e-02,  1.35972984e-02,  5.30600036e-03,  1.34736560e-02,
        5.14678890e-03,  9.05845314e-03,  8.54836404e-03,  9.51712299e-03,
        8.46140180e-03,  7.20988773e-03,  1.61384605e-02,  7.41991727e-03,
        1.31985908e-02, -1.20539693e-02,  8.55060760e-03,  1.21501097e-02,
        6.01228233e-03,  1.37608964e-02,  1.05439154e-02,  5.26627386e-03,
        4.26602131e-03,  8.92307423e-03,  7.37855351e-03,  1.82990020e-03,
       -3.87832522e-03,  4.61448776e-03,  8.85724649e-03,  3.82293807e-03,
       -1.49267744e-02,  4.88874828e-03,  5.10669686e-03, -8.28884915e-03,
       -1.15311788e-02,  1.77657288e-02,  1.53350830e-03,  2.44231522e-02,
        5.58510004e-03, -1.65946074e-02, -6.75611896e-03, -2.30264995e-04,
       -6.11341512e-03,  1.17791323e-02,  2.29704622e-02,  4.66388091e-03,
        8.03872291e-03, -5.66066988e-03,  2.00539529e-02, -2.31724256e-03,
        7.85430055e-03,  1.00093614e-02,  1.21992379e-02,  9.86769795e-03,
        7.90377241e-03, -1.34546240e-03,  1.75877754e-03,  1.21981828e-02,
        3.60937696e-03,  9.14716348e-03,  4.65881033e-03,  1.49265872e-02,
        1.71158761e-02, -3.21006542e-03,  1.29115107e-02, -8.21853231e-04,
        7.08079711e-03,  1.80978365e-02, -2.36658915e-03, -6.09662989e-03,
       -4.96501998e-05,  5.17322356e-03,  4.07948112e-03,  1.08167687e-02,
        1.30274501e-02,  2.12458591e-03, -2.49793078e-03,  4.99513280e-03,
        5.26636792e-03,  6.11218670e-03,  1.12265302e-02, -5.24469372e-03,
       -1.13967829e-03, -1.15643127e-03,  3.04740388e-03, -1.25932670e-03,
        6.12951024e-03,  8.25927872e-03,  6.01740021e-06,  7.86031689e-03,
       -1.86760258e-03, -1.62547380e-02,  1.14401430e-02,  9.59156919e-03,
        6.67087454e-03,  3.23585304e-03,  1.19531704e-02,  6.64361659e-03,
       -1.05930259e-02, -3.82202421e-03,  1.09056057e-03,  5.91176841e-03,
        1.01919491e-02, -8.86814669e-04, -2.78918259e-03, -1.30615365e-02,
       -1.64469704e-02,  1.73205677e-02,  1.68607756e-02,  1.33816227e-02,
        1.55195203e-02, -7.05359085e-03,  1.42465765e-03,  1.40813151e-02,
       -9.39780264e-04,  2.60402076e-03, -7.52410851e-03,  1.81332901e-02,
       -4.91601299e-04, -7.16651138e-03, -3.53620941e-04, -1.42317079e-03,
       -2.11869343e-03,  9.71406873e-04,  1.84464839e-03,  1.31155979e-02,
       -3.03896749e-03,  3.79559165e-03, -2.75844522e-03,  1.46803800e-02,
        9.61571373e-03, -4.52222303e-03, -1.31793856e-03,  1.56148826e-03,
        4.46213363e-03,  5.74422395e-03,  5.07352222e-03, -1.92571653e-03,
        6.07061759e-03,  5.02452720e-03,  1.16441855e-02, -7.11504091e-03,
        1.06896842e-02,  9.70311463e-03,  5.96210535e-04,  1.60915386e-02,
        8.97137076e-03,  8.62696581e-03,  5.65662049e-03,  1.42046595e-02,
       -3.32564302e-03, -4.17320803e-03,  7.85331940e-04,  5.92097826e-03,
        6.16849959e-03, -2.39882222e-03,  2.01623254e-02,  8.02027236e-04,
        1.98752657e-02, -9.92160477e-03, -2.54727434e-03,  1.54513866e-02,
        4.00458276e-03, -7.60150608e-03,  1.13684069e-02, -3.39423493e-03,
        5.68201533e-03,  9.15501546e-03,  1.31923473e-03,  7.94913992e-03,
        1.32841039e-02,  6.83407113e-03,  1.44538237e-02, -1.39050506e-04,
       -2.00942834e-03,  7.49847246e-03,  2.41333656e-02, -9.37239034e-04,
        1.87544413e-02, -2.06038589e-04,  1.12447683e-02,  1.78958979e-02,
        1.02534164e-02,  2.05304027e-02,  1.31201930e-02, -4.66578314e-03,
        5.65408170e-03,  5.45345200e-03, -7.35335937e-03,  1.92710534e-02,
        3.47523647e-03,  1.51118329e-02,  6.69682458e-06,  4.90883878e-03,
       -2.58714845e-05,  3.91646568e-03, -4.62504616e-03,  9.80779901e-03,
        9.60889272e-03,  1.01426831e-02, -2.79770698e-03, -4.72026644e-03,
       -1.60596322e-03, -3.21721716e-04,  2.08752770e-02,  9.76462942e-03,
       -1.90851721e-03, -3.59063526e-03,  8.61812290e-03,  2.86922930e-03,
        2.14394704e-02, -5.33558568e-06,  9.68727190e-03,  1.38560776e-02,
        1.08663179e-02,  8.50221328e-03, -3.13557289e-03, -4.50453302e-03,
        2.63955072e-02,  1.58029143e-02, -9.69878118e-03,  1.53920222e-02,
        1.44099453e-02,  1.00778658e-02, -2.65406375e-03,  2.16396153e-03,
        1.79333985e-02,  5.48519334e-03,  1.77875552e-02,  1.54160559e-02,
        2.31468026e-03,  2.54488513e-02,  1.59284323e-02, -2.57964688e-03,
        1.40880877e-02, -4.09358647e-03, -2.21094466e-03,  7.75619876e-03,
        7.81160407e-03, -3.77716450e-03, -1.23761315e-03,  1.10695111e-02,
       -9.14679188e-03,  5.65656053e-04,  6.08431641e-03, -9.08678956e-03,
        1.80599149e-02,  2.43861414e-02,  9.31730587e-03, -1.56192679e-03,
        1.53262075e-02, -1.17400475e-03,  1.61651745e-02, -1.76685338e-03,
        3.10711592e-04,  9.44453385e-03,  1.26381908e-02, -4.81492432e-04,
        6.54658815e-03,  6.34209393e-03,  7.93320313e-03,  7.02415081e-03,
       -2.56475847e-04,  3.08650895e-03, -4.23322257e-04, -7.13686459e-04,
        6.03418052e-03, -2.89605232e-03,  2.27134824e-02,  7.39441311e-04,
        6.30563730e-03,  1.00942822e-02,  3.57047142e-03,  4.64700023e-03,
       -5.30247763e-03, -3.37432208e-03,  5.46054449e-03,  1.83189511e-02,
       -9.09527647e-04,  2.42591044e-03, -9.77416988e-03,  5.99634042e-03,
        4.43144329e-03,  6.33851532e-03, -8.15353729e-03, -2.25193845e-03,
        7.90885999e-04, -2.47802096e-03,  9.06830840e-03, -2.00795033e-03,
        1.42137222e-02, -3.70102469e-03,  3.66931944e-03,  1.68650225e-02,
        1.21821864e-02, -6.87201740e-03, -4.39776573e-03,  7.16504175e-03,
        2.17219978e-03,  1.04168057e-02,  6.95406552e-03,  7.41561363e-03,
        1.06935045e-02, -4.30910673e-04,  9.17281490e-03,  1.09681142e-02,
        1.90592799e-02,  8.09408841e-04,  1.86362844e-02,  9.07216500e-03,
        1.15818279e-02, -4.63575404e-03,  7.84740131e-03,  2.12675687e-02,
        1.33585697e-02,  1.56309679e-02, -1.72866248e-02,  3.06456489e-03,
        4.28079581e-03,  4.81834682e-03,  4.38700151e-03, -3.51454783e-03,
        5.82336914e-03, -6.31271722e-03,  7.95157626e-03,  9.02406964e-03,
        3.04041919e-03,  1.77166294e-02,  7.20016006e-03, -8.04103538e-03,
        3.99791123e-03, -5.10196015e-03, -2.56356806e-03,  4.97858785e-03,
        1.34953503e-02, -2.82070221e-04,  1.65221922e-03,  1.00171231e-02,
        1.90995801e-02,  1.75388493e-02, -9.23191477e-03,  3.96398641e-03,
        8.46347958e-03, -8.23933538e-03,  6.91669155e-03, -5.65451058e-03,
       -6.23513805e-03, -1.00183962e-02,  2.44418345e-03,  5.55025600e-03,
        2.26104003e-03,  1.87235121e-02,  1.60948727e-02,  4.23556287e-03,
        1.17805954e-02, -3.10144480e-03,  2.79025477e-03,  7.98323657e-03,
        8.77801969e-04, -4.52058361e-04,  9.69450828e-03,  2.06373222e-02,
       -1.04889031e-02,  3.05753737e-03,  5.53123932e-03,  8.31880083e-04,
        1.47955143e-03,  9.12247878e-03, -5.98978857e-03, -4.11360292e-03,
        6.07445557e-03,  4.30125929e-03, -3.40538193e-03, -1.19856198e-03,
        1.99903864e-02, -8.07565462e-04,  1.41318492e-03,  1.71980597e-02,
       -3.14817089e-03,  3.28454422e-03,  1.18301203e-02,  1.58863980e-02,
        7.70332190e-05,  2.14770134e-05,  1.67053938e-02,  1.12803346e-02,
       -1.75245409e-03,  1.70689635e-02,  4.79044486e-03,  1.02973438e-03,
        2.03250367e-02,  1.48765473e-02,  1.15573751e-02,  6.93128956e-03,
       -7.14594871e-03,  1.98579654e-02,  5.24514075e-03, -8.31480836e-04,
        6.81857904e-03, -9.41331964e-03,  8.23496934e-03, -1.72288826e-04,
       -1.76282634e-03,  1.02121197e-02,  1.66859347e-02,  9.41801257e-03,
        9.66014341e-03,  4.77688760e-03,  2.43537570e-03,  1.88714564e-02,
       -4.52277804e-04, -6.94214087e-03,  5.84390806e-03, -8.95274524e-03,
        7.39732699e-04,  1.87894329e-02,  8.96848273e-03,  1.79679580e-02,
       -1.10950787e-02, -5.94035303e-03,  5.50358044e-03,  1.54614355e-02,
        2.14307234e-02,  4.17170441e-03, -4.60677175e-03,  6.11185422e-03,
        3.61382565e-03,  8.72224383e-03, -1.49107426e-02,  4.25256183e-03,
        1.81986636e-03,  1.13159958e-02,  3.21712112e-03,  3.72009608e-03,
        1.04230177e-02, -2.88128760e-03,  4.03607404e-03,  4.15264349e-03,
        7.32370652e-03,  1.04552070e-02,  1.64562985e-02, -7.74232997e-03,
        1.29815238e-02,  4.27646236e-03,  5.79188112e-03, -3.64731555e-03,
       -7.96963833e-03,  1.16797034e-02, -3.34249577e-03,  5.93568385e-03,
       -1.37096760e-03,  2.01713610e-02, -1.11797107e-02,  1.52168479e-02,
        2.62613036e-03,  2.64427857e-03, -9.38439090e-03, -5.42566238e-04,
       -7.30416086e-03, -2.47324235e-03, -4.17534960e-03,  1.32213114e-02,
        5.16005652e-03,  1.50375906e-02,  1.13860359e-02, -3.36936122e-04,
        6.48354460e-03,  9.64927394e-03,  1.25061786e-02,  6.27743127e-03],
      dtype=float32)

In [115]:
np.dot(dy_vector, chungking_Express_vector)

0.42293596

In [116]:
Jumanji = movie_to_idx['Jumanji (1995)']
Jumanji_vector = als_model.item_factors[Jumanji]
np.dot(dy_vector, Jumanji_vector)

-0.011131025

In [117]:
Before_Sunrise = movie_to_idx['Before and After (1996)']
Before_Sunrise_vector = als_model.item_factors[Before_Sunrise]
np.dot(dy_vector, Before_Sunrise_vector)

-0.016017193

In [118]:
Notting_Hill = movie_to_idx['Notting Hill (1999)']
Notting_Hill_vector = als_model.item_factors[Notting_Hill]
np.dot(dy_vector, Notting_Hill_vector)

0.8118157

In [119]:
Raise_the_Titanic = movie_to_idx['Raise the Titanic (1980)']
Raise_the_Titanic_vector = als_model.item_factors[Raise_the_Titanic]
np.dot(dy_vector, Raise_the_Titanic_vector)

0.009772317

## Similar Artist Recommendation

In [120]:
def get_similar_movie(movie_name: str):
    movie_id = movie_to_idx[movie_name]
    idx_to_movie = {v:k for k,v in movie_to_idx.items()}
    similar_movie = als_model.similar_items(movie_id)
    similar_movie = [idx_to_movie[i[0]] for i in similar_movie]
    return similar_movie

In [121]:
get_similar_movie('Toy Story 2 (1999)')

['Toy Story 2 (1999)',
 'Toy Story (1995)',
 'Tigger Movie, The (2000)',
 'Careful (1992)',
 'Couch in New York, A (1996)',
 'Amityville Curse, The (1990)',
 "Pot O' Gold (1941)",
 'Nosferatu a Venezia (1986)',
 'Digimon: The Movie (2000)',
 'Vie est belle, La (Life is Rosey) (1987)']

In [122]:
get_similar_movie('Chungking Express (1994)')

['Chungking Express (1994)',
 "Ed's Next Move (1996)",
 'Ashes of Time (1994)',
 'Hurricane Streets (1998)',
 'Gate of Heavenly Peace, The (1995)',
 'Aiqing wansui (1994)',
 'Zachariah (1971)',
 'Cement Garden, The (1993)',
 'Master Ninja I (1984)',
 'Mirage (1995)']

In [123]:
get_similar_movie('Titanic (1997)')

['Titanic (1997)',
 'Walking Dead, The (1995)',
 'Paris, France (1993)',
 'Falling in Love Again (1980)',
 'Gay Deceivers, The (1969)',
 'Held Up (2000)',
 'Stranger in the House (1997)',
 'Carnosaur 2 (1995)',
 'Jerry & Tom (1998)',
 'Savior (1998)']

In [124]:
get_similar_movie('Meet Joe Black (1998)')

['Meet Joe Black (1998)',
 "Barney's Great Adventure (1998)",
 'Grandfather, The (El Abuelo) (1998)',
 'Callejón de los milagros, El (1995)',
 'Temptress Moon (Feng Yue) (1996)',
 "Let's Talk About Sex (1998)",
 'Oxygen (1999)',
 'Race the Sun (1996)',
 'Tarzan and the Lost City (1998)',
 'Mirage (1995)']

# Retrospective

처음 validation을 위한 my_playlist에 장르가 무작위인 영화를 설정 후
counts를 5로 설정하였음에도 user_vactor와 movie_vactor의 내적이 0.1점대로 낮은 점수가 나왔었는데

my_playlist에 장르를 통일 후 
Model의 Hyperparameter 중 factors, iterations를 높여 학습하니 my_playlist에 있는 영화는 0.42,0.81로 다른 영화보다 높게 나온 것을 확인할 수 있었다.

similar movie recommendation도 확인하였을 때 장르가 같거나 같은 국적의 영화를 추천해주어
간단하지만 효과적인 것으로 보여진다.